/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

.header{
    min-height:100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
        images/background.jpg
    );
    background-size: cover;
    background-position: center;
}

::root{
    --main-color: #003300;
    --second-color: #663300;
    --text-color: black;
    --bg-color: #fff;
    --box-shadow: 2px 2px 16px rgb(38, 77, 0);
}

img{
    width: 100%;
}

body{
    color: var(--text-color)
}

.logo{
    width: 10%;
    height: 10%;
    cursor: pointer;
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 7%;
    background-color: #fff;
    font-weight: 600;
}

.links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.links li a{
    text-decoration: none;
    color: var(--text-color);
}

.register-btn {
    background: #663300;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  
  span {
    display: inline-block;
    transform: skew(21deg);
  }
  


  #user-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }
  
  #register-btn, #login-btn {
    padding: 8px;
    margin: 0 10px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
  }

  .info-box{
    position: absolute;
    top: 30%;
    background-color: black;
    color: #663300;
    left: 25%;
    border-radius: 20px;
    width: 700px;
    height: 300px;
  }
  